{# Dywee\ContactBundle\Resources\View\Message\adminNavbar.html.twig #}

{% set nbre = messageList|length %}
<!-- Messages: style can be found in dropdown.less-->
<li class="dropdown messages-menu">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <i class="fa fa-envelope-o"></i>
        <span class="label label-success">{% if nbre > 0 %}{{ nbre }}{% endif %}</span>
    </a>
    <ul class="dropdown-menu">
        <li class="header">Vous avez {% if nbre > 0 %}{{ nbre }}{% endif %} nouveaux messages</li>
        <li>
            <!-- inner menu: contains the actual data -->
            <ul class="menu">
                {% for message in messageList %}
                    <li><!-- start message -->
                        <a href="{{ path('dywee_message_view', {id: message.id}) }}">
                            <div class="pull-left">
                                {% if message.status == 0 %}
                                    <i class="ion-email"></i>
                                {% else %}
                                    <i class="ion-android-drafts"></i>
                                {% endif %}
                            </div>
                            <h4>
                                {{ message.firstName }} {{ message.lastName }}
                                <small><i class="fa fa-clock-o"></i> {{ message.sendAt|date('d/m/Y à H:m') }}</small>
                            </h4>
                            <p>{{ message.message|truncate(50) }}</p>
                        </a>
                    </li><!-- end message -->
                {% endfor %}
            </ul>
        </li>
        <li class="footer"><a href="{{ path('dywee_message_table') }}">Voir tous les messages</a></li>
    </ul>
</li>